ana==0.5
angr==8.19.10.30
astroid==2.3.3
backcall==0.1.0
bitstring==3.1.5
cachetools==3.1.1
capstone==4.0.1
cffi==1.12.3
colorama==0.4.3
cooldict==1.4
decorator==4.4.0
dpkt==1.9.2
future==0.17.1
gitdb2==2.0.5
GitPython==2.1.11
idalink==0.12
ipdb==0.12.2
ipython==7.8.0
ipython-genutils==0.2.0
isort==4.3.21
itanium-demangler==1.0
jedi==0.15.1
lazy-object-proxy==1.4.3
mccabe==0.6.1
monkeyhex==1.7.1
mulpyplexer==0.8
networkx==2.3
parso==0.5.1
pefile==2019.4.18
pexpect==4.7.0
pickleshare==0.7.5
plumbum==1.6.7
progressbar==2.5
prompt-toolkit==2.0.9
psutil==5.6.2
ptyprocess==0.6.0
pycparser==2.19
pyelftools==0.25
Pygments==2.4.2
pylint==2.4.4
PySMT==0.8.0
rpyc==4.1.0
six==1.12.0
smmap2==2.0.5
sortedcontainers==2.1.0
traitlets==4.3.2
typed-ast==1.4.0
unicorn==1.0.1
wcwidth==0.1.7
wrapt==1.11.2
